/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    background-color: #313136;
}

/* Typography
--------------------------------------------- */
body {
    font-family: "Libre Franklin", sans-serif;
    color: #f0dee2;
}

h1 {
    font-family: "IBM Plex Sans", serif;
    font-size: 4rem;
    color:#ffc0cb;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "IBM Plex Sans", serif;
    font-size: 2rem;
    color: #ffc0cb;
}

p {
	line-height: 1.5rem;
}

em {
    color:#ffc0cb;
    font-style: normal;
}


/* Elements
--------------------------------------------- */
ul {
    
}

ul li {
    list-style: none;
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}


/* Links
--------------------------------------------- */
a {	
    color:aquamarine;
}

a:visited {
	/* color:rgb(131, 127, 255); */
}

a:hover {
    color:#33f4b4;
}

a:focus {
    /* background-color:#33f4b4; */
    color:#6868d3;
}

a:active {
    color:#6868d3;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.site-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.site-title {
    padding: 18rem 0 2rem 0;
    margin: 0;
}

main {
    margin: 1rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */

.bg-gradient {
    background: linear-gradient(
        rgba(255, 255, 255, 0.2),
        rgba(0, 0, 0, 0) 50%
    );
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.site-title h1 {
    margin: 0;
}

.site-title p {
    margin: 1rem 0 0 0;
    font-size: 1.5rem;
    color: #f0dee2;
}

nav ul {
    position: fixed;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    background-color: #25232b;
    padding: 1rem 0.8rem 0.8rem 0.8rem;
    margin-top: 0;
    width: 100%;
    z-index: 1000; /* added because images were covering it */
}

nav a {
    color: #f0dee2;
    padding: 0.8rem;
}

@media (min-width: 50em) {

    nav ul {
        width: fit-content;
    }

    nav a {
        font-size: 1.25rem;
    }
}

/* Main
--------------------------------------------- */


/* this element uses js to fade on scroll */
.cat-picture {
    position: fixed;
    width: 18rem;
    z-index: -2;

    /*
    center a fixed element responsively
    https://stackoverflow.com/questions/2005954/center-a-positionfixed-element
    */
    left: 50%;
    transform: translate(-50%);
}

.project-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
}

.projects article {
    flex: 0 1 12rem;
    position: relative;
    height: fit-content;
}

.projects article img {
    /* height: 12rem;
    width: 18rem; */
    padding: 0;
}

.article-gradient {
    background: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8) 90%
    );
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    /* match width of article img */
    /* max-width: 18rem; */
}

.projects article h3 {
    color: #f0dee2;
    font-weight: bold;
    font-size:1.5rem;
    /* -webkit-text-stroke: 1px rgb(255, 255, 255); */

    margin: 0.5rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index:2;
}

.article-info {
    background: rgba(37, 35, 43, 0%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.article-info p {
    font-size: 1.25rem;
    line-height: 2rem;
    padding: 10rem 4rem 4rem;
    margin: 0 auto;
}

.article-info {
    color: rgba(240, 222, 226, 0);
}

.article-info:hover {
    background: rgba(37, 35, 43, 80%);
    color: rgba(240, 222, 226, 100%);
}

/* PC STYLES!! */
@media (min-width: 50em) {

    main {
        align-self: center;
        display: flex;
        justify-content: center;
    }


    .col-left {
        flex: 0 1 40rem;
        margin: 0 2rem 0 0;
        align-self: flex-start;
        position: sticky;
        top: 1rem;
        display: flex;
        flex-direction: column;
    }

    .col-right {
        flex: 0 1 40rem;
    }

    .site-title {
        padding: 4rem 0 2rem 0;
        margin: 0;
        order: 1;
    }
    
    .about-me {
        order: 2;
    }
    
    .cat-picture {
        position: relative;
        bottom: 10rem;
        width: fit-content;
        z-index: -2;
        order: 3;
    }

    /* .projects article img {
        height: 20rem;
        width: 30rem;
    }

    .article-gradient {
        match width of article img
        max-width: 30rem;
    } */
    
}

/* Footer
--------------------------------------------- */
footer {
    text-align: center;
}

footer h3 {
    text-align: center;
}

footer ul {
    display: flex;
    padding: 0;
    margin: 0 0 3rem;
    justify-content: space-evenly;
}

footer li {
    position: relative;
}

footer a {
    /* font-size: 1.5rem;
    color: #313136; */

    background-color: #f0dee2;
    padding: 0.5rem;
    border-radius: 1rem;

    align-items: center;
    display: block;
    max-height: 5rem;
    max-width: 5rem;
}

footer a:hover {
    transform: translateY(-0.25rem);
}

footer img {
    height: 4rem;
}

@media (min-width: 50em) {
    footer a {
        margin: 0 2rem;
    }

    footer ul {
        justify-content: center;
    }
}